<!DOCTYPE html>
<html class="<%= class_names("dark": current_user&.dark_theme?) %>" lang="<%= I18n.locale %>">
  <head>
    <%= render "head" %>
  </head>

  <body data-controller="theme" data-theme-preference-value="<%= current_user&.theme %>">
    <header>
      <%= impersonation_banner %>
      <%= render "flash" %>
      <%= render "navbar" %>
    </header>

    <main>
      <%= yield %>
    </main>

    <%= render "footer" unless turbo_native_app? %>
  </body>
</html>
